<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>New Pantry</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1> New Pantry</h1>
    <div class="new-body">
        <form action="/users/<%= user._id %>/foods" method="POST">
        
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        
        <label for="instructions">instructions:</label>
        <input type="text" name="instructions" id="instructions">


      <button type="submit">Add pantry</button>
    </form>
    </div>
</body>
</html>

  
