<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/show.css" />

    <title>Pantry</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Our Community</h1>
<ul>
    <% users.forEach(user => { %>
        <li>
            <%= user.username %>
        </li>
    <% }); %>
</ul>
</body>
</html>